<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="com.Aishopssh.Entites.Admin"/>
        <mapping resource="entitesXML/TbAdmin.hbm.xml"/>

        <mapping class="com.Aishopssh.Entites.AdminReply"/>
        <mapping resource="entitesXML/TbAdminReply.hbm.xml"/>

        <mapping class="com.Aishopssh.Entites.Advertisements"/>
        <mapping resource="entitesXML/TbAdvertisements.hbm.xml"/>

        <mapping class="com.Aishopssh.Entites.Cartlist"/>
        <mapping resource="entitesXML/TbCartlist.hbm.xml"/>

        <mapping class="com.Aishopssh.Entites.Comments"/>
        <mapping resource="entitesXML/TbComments.hbm.xml"/>

        <mapping class="com.Aishopssh.Entites.Goods"/>
        <mapping resource="entitesXML/TbGoods.hbm.xml"/>

        <mapping class="com.Aishopssh.Entites.Leaveword"/>
        <mapping resource="entitesXML/TbLeaveword.hbm.xml"/>

        <mapping class="com.Aishopssh.Entites.Notice"/>
        <mapping resource="entitesXML/TbNotice.hbm.xml"/>

        <mapping class="com.Aishopssh.Entites.Orders"/>
        <mapping resource="entitesXML/TbOrders.hbm.xml"/>

        <mapping class="com.Aishopssh.Entites.PwdRest"/>
        <mapping resource="entitesXML/TbPwdRest.hbm.xml"/>

        <mapping class="com.Aishopssh.Entites.Type1"/>
        <mapping resource="entitesXML/TbType1.hbm.xml"/>

        <mapping class="com.Aishopssh.Entites.Type2"/>
        <mapping resource="entitesXML/TbType2.hbm.xml"/>

        <mapping class="com.Aishopssh.Entites.Type3"/>
        <mapping resource="entitesXML/TbType3.hbm.xml"/>

        <mapping class="com.Aishopssh.Entites.User"/>
        <mapping resource="entitesXML/TbUser.hbm.xml"/>
    </session-factory>
</hibernate-configuration>